<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
	<!-- servlet标签代表的是一个servlet对象的配置，里面拥有该对象的名称，随意写，但是要保持一致，还有该servlet的class文件路径(webapps下面) -->
	<servlet>
		<servlet-name>test1</servlet-name>
		<servlet-class>huse2018.j2ee.teaching.servlet.ServletTest1</servlet-class>
	</servlet>
	<!-- servlet-mapping标签，它和servlet标签是成对出现的，怎么来看他们是否是一对，通过servlet-name，url-pattern里面所写的是你在浏览器上的请求名
	当请求发送出来之后，此时tomcat就会拿着请求名到web.xml里面的servlet-mapping里面的url-pattern来进行匹配，一旦匹配到了，就找到该servlet-mapping
	中servlet-name相同的servlet标签，然后执行里面的servlet-class文件
	 -->
	<context-param>
		<param-name>wife</param-name>
		<param-value>黄琦</param-value>
	</context-param>
	 
	<servlet-mapping>
		<servlet-name>test1</servlet-name>
		<url-pattern>/test.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>test2</servlet-name>
		<servlet-class>huse2018.j2ee.teaching.servlet.ServletTest2</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>ServletWork</servlet-name>
    <servlet-class>huse2018.j2ee.teaching.servlet.day02.work.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>huse2018.j2ee.teaching.servlet.day02.ServletDemo1</servlet-class>
    <!-- 不能放在load标签下面，并且该标签是定义一个属于指定servlet的常量 -->
    <init-param>
    	<param-name>username</param-name>
    	<param-value>scott</param-value>
    </init-param>
     <init-param>
    	<param-name>password</param-name>
    	<param-value>tiger</param-value>
    </init-param>
    <!-- 让指定的servlet对象跟随容器的启动而启动，数字代表优先级，越小越好 -->
    <load-on-startup>1</load-on-startup>
    
  </servlet>
  <servlet>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>huse2018.j2ee.teaching.servlet.day02.ServletDemo2</servlet-class>
    <!-- 让指定的servlet对象跟随容器的启动而启动，数字代表优先级，越小越好 -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>huse2018.j2ee.teaching.servlet.day02.ServletDemo3</servlet-class>
     <init-param>
    	<param-name>kk</param-name>
    	<param-value>gg</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo4</servlet-name>
    <servlet-class>huse2018.j2ee.teaching.servlet.day02.ServletDemo4</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>test2</servlet-name>
		<url-pattern>/test1.do</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletWork</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/test3.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/test2.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/test4.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo4</servlet-name>
    <url-pattern>/test5.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>config</servlet-name>
		<url-pattern>/jspConfigDemo.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>config</servlet-name>
		<jsp-file>/jspConfigDemo.jsp</jsp-file>
		<init-param>
			<param-name>aa</param-name>
			<param-value>bb</param-value>
		</init-param>
	</servlet>
    
</web-app>